.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .searchContainer {
    display: inherit;
    align-items: center;
    gap: 1.2rem;
  }
}
